.navbar-initials {
  min-width: 80px; /* Adjust as needed */
  min-height: 70px;
  display: inline-block;
}

.navbar-icon {
  outline-width: 0;
}

.nav-link {
  color: #425c77 !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
}

footer {
  margin-top: auto;
  margin-bottom: -30px;
}

.navbar-toggler-icon {
  filter: opacity(0.6);
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #8baac2;
}

.secondary-container {
  flex-direction: row;
  padding: 10px 20px;
}

.heading-italic {
  color: #425c77;
  font-style: oblique;
}

.heading-bold {
  color: #425c77;
  font-weight: 600;
}

.contact-btn {
  border-radius: 30px;
  border-color: #173c5a;
  color: #173c5a;
  margin: 10px 0;
  word-wrap: break-word;
  font-size: small;
}

.contact-container {
  width: 90%;
  max-width: none;
}

.desk-container {
  overflow: hidden;
  height: auto;
  width: 100%;
  padding-bottom: 50%;
  margin-top: -15px;
}

.desk {
  transform: translateX(-30px) scale(2);
  transform-origin: top center;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all 0.2s ease;
}

.teapot:hover {
  filter: brightness(0.6);
}

.about-title {
  transform: translateX(2600px) translateY(3600px) scale(5.3) rotate(-8deg);
  transition: all 0.3s ease;
}

.about-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.about-section-1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.about-intro {
  padding: 20px;
  text-align: center;
  color: #173c5a;
}

.headshot {
  width: 40%;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #6d8698;
}

.about-section-2 {
  width: 70%;
  align-self: center;
  background-color:#dfefeb;
  margin: 25px;
  height: 700px;
}


.portfolio-menu {
  flex-direction: column;
  background-color: #a4c6df;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  gap: 3px;
  margin-top: 3px;
  box-shadow: 0px 0px 5px #7b98ac;
}

.portfolio-btn {
  padding: 3px 10px 3px 10px;
  margin: 0px 0 0px 0;
}

.portfolio-btn:hover {
  background-color: #b5dbf5;
}

.portfolio-btn-selected {
  background-color: #b5dbf5;
  box-shadow: 0px 0px 4px rgb(104, 151, 167);
}

.web-dev-card {
  background-color: rgba(164, 198, 223);
  box-shadow: 0px 0px 5px #6d8698;
  padding-bottom: 10px;
  height: 100%;
}

.web-dev-card-img {
  height: 200px;
}

.web-dev-subtitle {
  font-style: oblique;
  color: #425c77;
  font-size: medium;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 7px;
}

.link-btns {
  display: flex;
  justify-content: center;
  color: #425c77;
  margin: 0px 5px 0px 0px;
  padding: 3px 5px 3px 5px;
  background-color: #b5dbf5;
  border-radius: 5px;
  text-decoration: none;
  width: 75px;
}

.link-btns:hover {
  filter: brightness(0.8);
}

.pot-container {
  column-count: 2;
  column-gap: 20px;
}

.pot-item {
  break-inside: avoid;
  margin-bottom: 20px;
}

.pot-image {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.pot-image:hover {
  filter: brightness(0.6);
}

.design-container {
  column-count: 2;
  column-gap: 20px;
}

.design-item {
  break-inside: avoid;
  margin-bottom: 20px;
}

.design-img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Adjust design portfolio image grid */

@media (min-width: 600px) {
  .design-container {
    column-count: 3;
    column-gap: 20px;
  }
}

/* Adjust pottery portfolio image grid */

@media (min-width: 550px) {
  .pot-container {
    column-count: 3;
  }
}

@media (min-width: 750px) {
  .pot-container {
    column-count: 4;
  }
}

/* For a very narrow screen */
@media (min-width: 305px) {
  .portfolio-menu {
    flex-direction: row;
  }
}

/* Contact container */
@media (min-width: 300px) {
  .contact-container {
    width: 300px;
  }
}

/* This is for the home page desk component
   It has a different break point than normal due to the illustraion size */

@media (min-width: 576px) {
  .desk-container {
    padding-bottom: 20%;
  }

  .desk {
    transform: scale(1.4);
    translate: 60px;
    margin-top: -30px;
  }

  .lydia-vertical {
    transform: scale(6.6);
    translate: 1350px 380px;
  }

  .subtitle {
    font-size: 115px;
    fill: #425c77;
    translate: 1400px 1800px;
  }

  .leaf-vase {
    translate: -2000px 300px;
  }

  .green-vase {
    translate: -1280px 300px;
  }

  .flowers {
    translate: -2000px 300px;
  }

  .portfolio-menu {
    flex-direction: row;
  }

  .name-horizontal {
    display: none !important;
  }

  .about-title {
    transform: translateX(900px) translateY(3300px) scale(4) rotate(-8deg);
    transition: all 0.3s ease;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    z-index: 2;
  }

  .about-section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
  }

  .about-intro {
    text-align: left;
  }

  .headshot {
    width: 150px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #6d8698;
  }

  .about-section-2 {
    width: 100%;
    background-color: #dfefeb;
    margin: 25px;
  }
}

@media (min-width: 796px) {
  .about-section-1 {
    display: flex;
    flex-direction: row;
  }
}
