.navbar-initials {
  min-width: 80px; /* Adjust as needed */
  min-height: 70px;
  display: inline-block;
}

.navbar-icon {
  outline-width: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure container takes up full viewport height */
}

.contact-btn {
  border-radius: 30px;
  border-color: black;
  margin: 10px 0;
  word-wrap: break-word;
}

.contact-container {
  max-width: 90%;
}

.desk-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.desk {
  transform: translateX(-25px) scale(2); /* Adjust for mobile zoom */
  transform-origin: center;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
}

@media (min-width: 450px) {
  .contact-btn {
    font-size: small;
  }

  .contact-container {
    max-width: 300px;
  }
}

@media (min-width: 450px) {
  .desk {
    transform: translateX(-30px) scale(2); /* Adjust for mobile zoom */
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .green-vase {
    transform: translateX(2550px) translateY(1570px);
  }

  .leaf-vase {
    transform: translateX(2900px) translateY(1200px) scale(0.35);
  }


}


