.navbar-initials {
  min-width: 80px; /* Adjust as needed */
  min-height: 70px;
  display: inline-block;
}

.navbar-icon {
  outline-width: 0;
}

.nav-link {
  color: #425c77 !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure container takes up full viewport height */
  background-color: #8baac2;
}

.secondary-container {
  flex-direction: row;
  padding: 10px 20px;
}

.contact-btn {
  border-radius: 30px;
  border-color: #173c5a;
  color: #173c5a;
  margin: 10px 0;
  word-wrap: break-word;
  font-size: small;
}

.contact-container {
  width: 90%;
  max-width: none;
}

.desk-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.desk {
  transform: translateX(-30px) scale(1.8);
  transform-origin: top center;
  margin-bottom: 300px;
  margin-top: -20px;
  width: 100%;
  height: auto;
}

.pot-image:hover {
  filter: brightness(0.6);
}

.portfolio-menu {
  flex-direction: column;
  background-color: #a4c6df;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  gap: 3px;
  margin-top: -5px;
}

.portfolio-btn {
  padding: 0 8px 0 8px;
  margin: 0px 0 0px 0;
}

.portfolio-btn:hover {
  background-color: #b5dbf5;
}

.portfolio-btn-selected {
  background-color: #b5dbf5;
  padding: 0px 8px 0px 8px;
  box-shadow: 0px 0px 4px rgb(104, 151, 167); /* Example of an inset shadow */
}

.teapot:hover image {
  filter: brightness(0.6);
}

.pot-container {
  column-count: 2; /* Adjust as needed, this is for small screens */
  column-gap: 20px; /* Adjust space between columns */
}

.pot-item {
  break-inside: avoid; /* Prevents items from breaking across columns */
  margin-bottom: 20px; /* Space between items vertically */
}

.pot-image {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* adjust pottery portfolio image grid */

@media (min-width: 550px) {
  .pot-container{
    column-count: 3;
  }
}

@media (min-width: 750px) {
  .pot-container{
    column-count: 4;
  }
}

/* For a very narrow screen */
@media (min-width: 305px) {
  .portfolio-menu {
    flex-direction: row;
  }
}

/* Contact container */
@media (min-width: 300px) {
  .contact-container {
    width: 300px;
  }
}

/* This is for the home page desk component
   It has a different break point than normal due to the illustraion size */
@media (min-width: 776px) {
  .desk {
    transform: scale(1.4);
    translate: 70px;
  }

  .lydia-vertical {
    transform: scale(6.6);
    translate: 1350px 380px;
  }

  .subtitle {
    font-size: 128px;
    fill: #425c77;
    translate: 1430px 1800px;
    /*
    rotate: 10.5deg;
    transform: skew(12deg);
    */
  }

  .leaf-vase {
    translate: -2000px 300px;
  }

  .green-vase {
    translate: -1280px 300px;
  }

  .flowers {
    translate: -2000px 300px;
  }

  .portfolio-menu {
    flex-direction: row;
  }

  .name-horizontal {
    display: none !important;
  }
}
